/* Header.css */

.header {
  background-color: lightblue;
  color: black;
  padding: 1rem; /* Adjust padding as needed */
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space between the left and right items */
  width: 100%;
}

.header h3 {
  margin: 0;
  font-size: 1.5rem; /* Adjust font size as needed */
}

.header h3 {
  margin:0;
  font-size: 1rem;
  margin-right: 20px; /* Adjust font size as needed */
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .header h2 {
    font-size: 1.2rem; /* Adjust font size for h2 on smaller screens */
  }

  .header h4 {
    font-size: 0.8rem; /* Adjust font size for h4 on smaller screens */
  }
}
